{% extends "layout/admin_base.html" %}

{% block navbar %}
<li class="active"><a href="#">组 <span class="sr-only">(current)</span></a></li>
<li><a href="/admin/manage/inv_code">邀请码</a></li>
<li><a href="/admin/summary">报表</a></li>
{% end %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">组别选项</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>

      <div class="col-lg-6 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <form class="panel-body">
          <div>
            <input type="button" class="btn btn-default" id="group-merge" value="合组" onclick="joinGroupDialog()">
            <input type="button" class="btn btn-default" id="group-split" value="分组" onclick="divideGroupDialog()">
            <input type="button" class="btn btn-default" id="group-delete" value="删除组" onclick="delGroupDialog()">
            <input type="button" class="btn btn-default" id="group-add" value="创建组" data-toggle="modal" data-target="#group-add-panel">
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      所有成员
      <input class="form-control" id="member-search-input" placeholder="搜索成员">
    </div>
    <!-- Table -->
    <table class="table" id="member-table">
      <tbody>
      <tr id="t-label">
        <th>id</th>
        <th>姓名</th>
        <th>组别</th>
      </tr>
      <tr>
        <td>1</td>
        <td>符明韬</td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" title="点击删除该标签" data-toggle="modal" data-target=".bs-example-modal-sm">Web2014</button>
            <button type="button" class="btn btn-default" title="点击删除该标签">Web2015</button>
            <button type="button" class="btn btn-default" title="点击删除该标签">Web2016</button>
            <button type="button" class="btn btn-default" title="点击删除该标签">添加</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>彭丽莎</td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" title="点击删除该标签">Design2016</button>
            <button type="button" class="btn btn-default">添加</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="del-tag-confirm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认信息</h4>
      </div>
      <div class="modal-body">
        <p>你确定删除此标签吗?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="delTag()">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="tag-add-panel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加组别</h4>
      </div>
      <div class="modal-body">
        <select class="group"></select>
        <select class="year"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="addTag()">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="group-add-panel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创建组</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="group-add-groupname"></label>
          <input type="text" class="form-control" id="group-add-groupname" placeholder="请填写组别名称">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="addGroup()">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="group-del-panel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除组</h4>
      </div>
      <div class="modal-body">
        <select class="group" id="group-del-select"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="delGroup()">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="group-join-panel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">合并组</h4>
      </div>
      <div class="modal-body">
        <h4>合并前组别选择</h4>
        <div class="group" id="group-join-checkbox"></div><br>
        <h4>选择合并后的组或者创建新组</h4>
        <select class="group" id="group-joined-select"></select>&nbsp;&nbsp;
        <input type="text" id="group-joined-new-name" placeholder="新组别名称"><br><br>
        <h4>选择生效年份</h4>
        <select class="group" id="group-joined-year"></select><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="joinGroup()">确定</button>
      </div>
    </div>
  </div>
</div>

<div id="group-divide-panel" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">拆分组</h4>
      </div>
      <div class="modal-body">
        <h4>拆分前组别选择</h4>
        <select class="group" id="group-divide-select">
        </select><br>
        <hr>
        <h4>选择拆分后的组或者创建新组</h4>
        <select class="group" id="group-divided-select">
        </select>&nbsp;&nbsp;
        <input type="text" id="group-divided-new-name" placeholder="新组别名称">&nbsp;&nbsp;
        <input type="button" id="group-divide-add-divided-btn" value="添加"><br><br>
        <hr>
        <h4>待迁移用户</h4>
        <div id="group-divide-users">
        </div>
        <hr>
        <h4>新组用户</h4>
        <div id="group-divided-new-group-container"></div>
        <hr>
        <h4>选择生效年份</h4>
        <select class="group" id="group-divided-year"></select><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="divideGroup()">确定</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block scripts %}
<script src="/static/scripts/admin.js"></script>
{% end %}
