{% extends "layout/admin_base.html" %}

{% block stylesheet %}
<style>
    #graph-group, #graph-component{
        height: 75vh;
    }
    #graph-group-select, #graph-year-select{
        display: inline-block;
        margin-left: 30px;
        width: 150px;
    }
</style>
{% end %}

{% block navbar %}
<li><a href="/admin/manage/group">组</a></li>
<li><a href="/admin/manage/inv_code">邀请码</a></li>
<li class="active"><a href="#">报表 <span class="sr-only">(current)</span></a></li>
{% end %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            组别
            <select id="graph-group-select" class="form-control">
            </select>
        </div>
        <div class="panel-body" id="graph-group">
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            年份
            <select id="graph-year-select" class="form-control">
            </select>
        </div>
        <div class="panel-body" id="graph-component">
        </div>
    </div>
</div>


{% end %}

{% block scripts %}
<script src="http://cdn.bootcss.com/echarts/3.2.3/echarts.min.js"></script>
<script src="/static/scripts/summary.js"></script>
{% end %}
