$formControlBorderColor: #004ecc;
$formControlShadowColor: #57ABF3;

$btnYellow: #fec107;

.block{
  position: relative;
  box-sizing: border-box;
}

@mixin paddingX($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin paddingY($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin marginY($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin marginX($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  -ms-transform-origin: $value;
  -o-transform-origin: $value;
  transform-origin: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

%staticCen{
  margin-left: auto;
  margin-right: auto;
}

%radius-circle{
  border-radius: 50%;
}

%absCenX{
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

%absCenY{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

%absCen{
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

%full{
  height: 100%;
  width: 100%;
}

%form-control{
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -ms-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

  &:focus{
    border-color: $formControlBorderColor;
    box-shadow: 0 0 1px 1px $formControlShadowColor;
  }
}


