.circle {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px #000;
}

.wrapper {
  position: relative;
  height: 100%;
}

.circlesContainer {
  position: relative;
  height: 100%;
}

.home {
  position: absolute;
}