<!--<link href="../../static/styles/detail.css" rel="stylesheet">-->
<style>
.block{
  display: inline-block;
  vertical-align: top;
}

.fullScreenContainer{
  white-space: nowrap;
  overflow: auto;
  background-color: #f5f5f5;

  overflow-x: hidden;
}

[member-list]{
	display: block;
}
</style>
<div class="fullScreenContainer">
  <div class="container">
    <button class="shadowAddBtn iconfont" ng-click="addProject()" ng-if="self">&#xe600;</button>
    <aside class="aside block left">
      <section id="intro" class="columnBlock">
        <div class="avatar">
          <img ng-src="``data.personal.avatar || '/static/images/default_avatar.png'``">
        </div>
				<div>
					<h1 class="username">
						``data.personal.username``
						<a href="#/information" ng-if="self" title="修改个人资料">
							<img src="/static/images/ic_edit.png" alt="编辑">
						</a>
					</h1>
				</div>
        <div class="personal">
          ``data.groups[data.groups.length-1] | groups``
          <span class="is_graduate">``data.personal.is_graduated?'已毕业':'在团队'``</span>
        </div>
        <p class="personal">``data.personal.email``</p>
        <p class="personal">微信：``data.personal.wechat || '未设置'``</p>
        <p class="personal">博客：``data.personal.blog || '未设置'``</p>
        <div class="personal">
          <label>mentor:</label>
          <div member-list members="data.relation.mentors" number="3"></div>
        </div>
        <div class="personal">
          <label>mentee:</label>
					``data.relation.mentees.length?null:"暂无"``
          <div member-list members="data.relation.mentees" number="3"></div>
        </div>
        <!--<a class="margin-btn btn-yellow" href="#/information" ng-if="self">修改个人资料</a>-->
      </section>
    </aside
    ><div class="center block">
      <div center-gallery></div>
    </div
    ><section class="content block right" id="project">
    <h1 id="project-label">项目经历</h1>
    <div ng-repeat="project in data.programs" detail-project theproject="project" self="self" arr="data.programs"></div>
    <div id="no-projects" ng-if="data.programs.length==0">
      <img src="../../static/images/surf/no_projects.png">
      <p>``self?"亲爱的飞行员，你还没有过旅行喔":"这个人很懒，还没有过旅行"``</p>
    </div>
    </section>
    <div modal="modal"></div>
    <div grant-panel="" toggle="grantShow"></div>
  </div>
</div>
