<div class="fullScreenContainer">

  <div class="screenContainer">
    <div id="groupBtnContainer">
      <a href="#/member?group_id=``group.body.group_id``&year=``year``" ng-repeat="group in dataArr"
         ng-class="{even: !$even, odd: !$odd, animating: group.animating, small: group.small}"
         ng-style="{left: 0.6*$index+'rem'}"
         class="group">
        <img class="group-img" src="/static/images/group``$index%8``.png">
        <span class="group-name">``group.body.group_name``</span>
      </a>
    </div>
    <div year-animation="" yearlist="yearlist" func="func" canscroll="!canscroll" current="year"></div>
    <div id="plane" plane></div>
    <div id="max-circle" class="circle">
      <div cloud class="cloud" value="11" data-id="cloud12"></div>
      <div cloud class="cloud" value="14" data-id="cloud15"></div>
      <div class="circle" data-value="4">
        <div class="shadow" data-value="4"></div>
        <div cloud class="cloud" value="2" data-id="cloud2"></div>
        <div cloud class="cloud" value="13" data-id="cloud14"></div>
        <div class="circle" data-value="3">
          <div class="shadow" data-value="3"></div>
          <div cloud class="cloud" value="10" data-id="cloud11"></div>
          <div cloud class="cloud" value="1" data-id="cloud1"></div>
          <div class="circle" data-value="2">
            <div class="shadow" data-value="2"></div>
            <div cloud class="cloud" value="12" data-id="cloud13"></div>
            <div cloud class="cloud" value="9" data-id="cloud10"></div>
            <div cloud class="cloud" value="3" data-id="cloud3"></div>
            <div cloud class="cloud" value="3" data-id="cloud4"></div>
            <div cloud class="cloud" value="4" data-id="cloud5"></div>
            <div class="circle" data-value="1">
              <div class="shadow" data-value="1"></div>
              <!--<div class="cloud"></div>-->
              <div cloud class="cloud" value="15" data-id="cloud16"></div>
              <div cloud class="cloud" value="8" data-id="cloud9"></div>
              <div cloud class="cloud" value="6" data-id="cloud7"></div>
              <div cloud class="cloud" value="5" data-id="cloud6"></div>
              <div cloud class="cloud" value="7" data-id="cloud8"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
