<!--<link href="../../static/styles/fill.css" rel="stylesheet">-->
<style>
.fullScreenContainer{
  white-space: nowrap;
  overflow: auto;
  background-color: #f5f5f5;
}
[basic-set-panel]{
  height: 274px;
}
[group-list]{
  width: auto;
  max-width: 600px;
}
</style>
<div class="fullScreenContainer">
  <div alert=""></div>
  <div modal="modal"></div>
  <div class="container">
    <div class="modifyContainer">
      <!--
      <div id="suggestion">
        <span>
          请完善你的信息以便完成注册。<strong>组别、状态、mentor为必选项</strong>。
          在没有完善信息的情况下，你每次登录都会被重定向到这个页面。
        </span>
      </div>
      -->
      <div class="fill-block">
        <div avatar2="" thesrc="data.personal.avatar" base64="base64"></div>
        <h2 class="property">必填项</h2>
        <div class="input-item">
          <label>组别</label>
          <div group-input="" class="input" number="7" personal="data.personal" show="selectorShow"
            click="popGroupSelector"></div>
        </div>
        <div class="input-item">
          <label for="status">现在状态</label>
          <select id="status" class="input" ng-disabled="disabled" ng-model="data.personal.is_graduated"
                  ng-options="o.v as o.n for o in [{ n: '在团队（大三及以下）', v: false }, { n: '已毕业', v: true }]">
          </select>
        </div>
        <div class="input-item">
          <label>Mentor</label>
          <div project-member-list="" func="func" edit="true" number="7" members="data.relation.mentors"></div>
        </div>

        <h2 class="property">选填项</h2>
        <div class="input-item">
          <label for="wechat">微信</label>
          <input id="wechat" class="input" ng-model="data.personal.wechat_id" ng-disabled="disabled">
        </div>
        <div class="input-item">
          <label for="blog">博客</label>
          <input id="blog" class="input" ng-model="data.personal.blog" ng-disabled="disabled">
        </div>
        <div class="input-item">
          <label for="location">现所在地</label>
          <input id="location" class="input" ng-model="data.personal.location" ng-disabled="disabled">
        </div>
        <div class="input-item">
          <label for="projects">项目经历</label>
          <div id="projects">
						<div ng-repeat="project in data.projects" class="project">
							<div project2="project" notsave="true"></div>
							<a class="iconfont trash" 
								href="javascript:void 0" ng-click="data.projects.splice($index,1)">
								&#xe60b;
							</a>
						</div>
            <button class="shadowBtn" ng-click="addProject()">添加项目</button>
          </div>
        </div>
        <!--
        <button class="shadowBtn" ng-click="submit()">``status``</button>
        -->
        <a class="margin-btn btn-yellow" ng-click="submit()">保存个人资料</a>
      </div>
    </div>
  </div>
</div>
