<!--<link href="../../static/styles/me.css" rel="stylesheet">-->
<div class="fullScreenContainer">
  <div class="screenContainer">

    <a class="self" href="#/detail">
      <img ng-src="``self_info.avatar || '/static/images/default_avatar.png'``">
      <span class="username">``self_info.username``</span>
    </a>

    <a class="friend" ng-repeat="friend in friends" data-value="``$index+1``"
      ng-href="/#/detail?user_id=``friend.user_id``">
      <img ng-src="``friend.avatar || '/static/images/default_avatar.png'``"
           ng-mouseenter="showPanel($event, 'friends', $index)" ng-mouseleave="hidePanel()">
      <span class="username">``friend.username``</span>
    </a>
    <a class="friend" ng-repeat="mentor in mentors" data-value="``mentorField[$index]``"
      ng-href="/#/detail?user_id=``mentor.user_id``">
      <span class="flag">mentor</span>
			<img ng-src="``mentor.avatar || '/static/images/default_avatar.png'``"
				ng-mouseenter="showPanel($event, 'mentors', $index)" ng-mouseleave="hidePanel()">
      <span class="username">``mentor.username``</span>
    </a>
    <a class="friend" ng-repeat="mentee in mentees" data-value="``menteeField[$index]``"
      ng-href="/#/detail?user_id=``mentee.user_id``">
      <span class="flag">mentee</span>
			<img ng-src="``mentee.avatar || '/static/images/default_avatar.png'``"
				ng-mouseenter="showPanel($event, 'mentees', $index)" ng-mouseleave="hidePanel()">
			<span class="username">``mentee.username``</span>
    </a>

    <div projects-panel style="position: absolute;left: ``panelLeft``px;top: ``panelTop``px" friend="friend"
      focusflag="panelFocus"></div>
  </div>
	<a class="group-avatar" href="/#/member?group_id=``self_info.last_group_id``&year=``current_year``">
		<span>
      ``self_groups[self_groups.length-1] | groups``
		</span>
	</a>
</div>
