<!--<link href="../../static/styles/member.css" rel="stylesheet">-->
<div class="fullScreenContainer">
  <!--
  <a ng-repeat="data in dataArr track by $index">
    ``data.username``
  </a>
  <br>
  <span ng-repeat="data in users[year]">
    ``data.username``
  </span>
  -->
  <div class="screenContainer">
    <div class="group-name">``current_group_data.group_name``</div>
    <div member-map=""></div>
  </div>
  <div group-switcher list="switcherList" choose="switchGroup" toggle="switcher"></div>
  <div group-merge-flash="" toggle="mergeFlash"></div>
</div>
