.wrapper {
  position: relative;
  height: 100%;
}

.home {
  label:focus-within::before {
    content: none;
  }
  :global {
    .ant-layout-header {
      background: #ffffff ;
    }
    .ant-checkbox-wrapper span {
      transition: color .1s;
      color: #cdcdcd;
    }
    .ant-checkbox-wrapper:hover span,
    .ant-checkbox-checked + span {
      color: #5d6277;
    }
    .ant-checkbox-wrapper:hover {
      .ant-checkbox-inner {
        border-color: #5d6277;
      }
      span {
        color: #5d6277;
      }
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #5d6277;
      border-color: #5d6277;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #5d6277;
    }
    .ant-checkbox-checked + span {
      color: #5d6277;
    }
  }
}

.Android:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #1de9b6;
}
.Android:global(.ant-checkbox-wrapper):hover span {
  color: #1de9b6;
}
.Android {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #1de9b6;
      border-color: #1de9b6;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #1de9b6;
    }
    .ant-checkbox-checked + span {
      color: #1de9b6;
    }
  }
}

.AILab:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #8c9eff;
}
.AILab:global(.ant-checkbox-wrapper):hover span {
  color: #8c9eff;
}
.AILab {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #8c9eff;
      border-color: #8c9eff;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #8c9eff;
    }
    .ant-checkbox-checked + span {
      color: #8c9eff;
    }
  }
}

.Design:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #ff7773;
}
.Design:global(.ant-checkbox-wrapper):hover span {
  color: #ff7773;
}
.Design {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #ff7773;
      border-color: #ff7773;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #ff7773;
    }
    .ant-checkbox-checked + span {
      color: #ff7773;
    }
  }
}

.Game:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #8c9eff;
}
.Game:global(.ant-checkbox-wrapper):hover span {
  color: #8c9eff;
}
.Game {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #8c9eff;
      border-color: #8c9eff;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #8c9eff;
    }
    .ant-checkbox-checked + span {
      color: #8c9eff;
    }
  }
}

.iOS:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #8c9eff;
}
.iOS:global(.ant-checkbox-wrapper):hover span {
  color: #8c9eff;
}
.iOS {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #8c9eff;
      border-color: #8c9eff;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #8c9eff;
    }
    .ant-checkbox-checked + span {
      color: #8c9eff;
    }
  }
}

.Lab:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #52f282;
}
.Lab:global(.ant-checkbox-wrapper):hover span {
  color: #52f282;
}
.Lab {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #52f282;
      border-color: #52f282;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #52f282;
    }
    .ant-checkbox-checked + span {
      color: #52f282;
    }
  }
}

.PM:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #ff9940;
}
.PM:global(.ant-checkbox-wrapper):hover span {
  color: #ff9940;
}
.PM {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #ff9940;
      border-color: #ff9940;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #ff9940;
    }
    .ant-checkbox-checked + span {
      color: #ff9940;
    }
  }
}

.Design:global(.ant-checkbox-wrapper):hover :global(.ant-checkbox-inner) {
  border-color: #ff7773;
}
.Design:global(.ant-checkbox-wrapper):hover span {
  color: #ff7773;
}
.Design {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #ff7773;
      border-color: #ff7773;
    }
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border-color: #ff7773;
    }
    .ant-checkbox-checked + span {
      color: #ff7773;
    }
  }
}
