.circle {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
}

.wrapper {
  position: relative;
  height: 100%;
}

.circlesContainer {
  position: relative;
  height: 100%;
}

.gradBgColor {
  background-image: -webkit-linear-gradient(30deg, #74ead5, #abb6e5);
}

.tag {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  background-color: #fff;
}

.tag::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 36px;
  margin-top: -15px;
  margin-left: -17px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px rgba(255, 255, 255, 0.2);
  transform-origin: 22px 20px;
  animation: rotateReverse 4s linear infinite;
}

.rotate {
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

@keyframes rotateReverse {
  0%  {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0%  {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/****************form style****************/
.left {
  float: left;
}

.right {
  float: right;
}

.enter {display: block;}  /* for animation */

.center {
  text-align: center;
}

.formWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 300px;
  padding: 90px 90px;
  margin-top: -240px;
  margin-left: -190px;
  border-radius: 5px;
  background-color: #fff;
  transition: width 0.5s ease;
}

.formWrapper.register {
  width: 220px;
  height: 360px;
  margin-top: -260px;
  margin-left: -200px;
}

/* .formWrapper.reset {
  height: 200px;
  margin-top: -190px;
} */

.formHeader {
  padding-bottom: 40px;
  margin: 0 auto;
}

.formHeader.center {
  padding: 0 45px 40px 45px;
}

.formBar {
  height: 5px;
  width: 20px;
  transition: width 0.5s ease;
}

.formBar.nav {
  margin: 0 auto;  
  width: 110px;
}

.formTitle {
  font-size: 30px;
  font-weight: 500;
  color: #626471;
}

.formText {
  color: #c2bfde;
  font-size: 14px;
}

input{
  width: 120px;
  height: 14px;
  padding: 8px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  line-height: 14px;
  outline: none;
  transition: all 0.4s ease;
}

input.captcha {
  width: 50px;
}

input:focus {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

input::-webkit-input-placeholder {
  color: #ACB6E5;
}

label {
  position: relative;
  display: block;
  margin-bottom: 15px;  
}

label:focus-within::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -4px;
  margin-left: -20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #74ead5;
}

a {
  display: block;
  text-decoration-line: underline;
  font-size: 10px;
  color: #c2bfde;
  cursor: pointer;
}

a.getCaptcha {
  display: inline-block;
  width: 58px;
  height: 14px;
  padding: 8px 0;
  border: 1px solid #c2bfde;
  border-radius: 10px;
  line-height: 14px;
  margin-left: 10px;
  transition: all 0.4s ease;  
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  color: #ACB6E5;
  cursor: pointer;
}

.loginButton {
  width: 90px;
  height: 30px;
  margin: 20px 0;
  border-radius: 15px;
  line-height: 30px;
  font-size: 10px;  
  /********************/
  border: 1px solid #c2bfde;
  color: #c2bfde;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease;
}

.loginButton.right {
  margin: 4px 0;  
}

.nav .loginButton {
  width: 180px;
  height: 40px;
  margin: 20px auto 0 auto;
  border-radius: 20px;
  line-height: 40px;
  font-size: 16px;
}

.registerButton {
  width: 100px;
  height: 30px;
  margin: 20px 0;
  border-radius: 15px;
  line-height: 30px;
  font-size: 10px;  
  /******************/
  color: #c2bfde;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #c2bfde;
  cursor: pointer;
}

.nav .registerButton {
  width: 120px;
  height: 40px;
  margin: 20px auto 0 auto;
  border-radius: 20px;
  line-height: 40px;
  font-size: 16px;
}

.resetButton {
  width: 160px;
  height: 30px;
  margin: 20px 0;
  border-radius: 15px;
  line-height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.active {
  color: #fff;
  font-weight: bold;
  background-image: -webkit-linear-gradient(30deg, #74ead5, #abb6e5);
  border: none;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

/***************fade animation***************/

/*****nav enter*****/
.formWrapper.nav.enter {
  animation: wrapperEnter 1s ease backwards;
}

.nav.enter .formBar {
  animation: fadeIn 0.5s ease backwards;
}

.nav.enter .loginButton {
  animation: fadeIn 0.5s ease 300ms backwards;
}

.nav.enter .registerButton {
  animation: fadeIn 0.5s ease 400ms backwards;
}

/*****nav leave*****/
.nav.leave .formTitle {
  animation: fadeOut 0.5s ease 200ms;
}

.nav.leave .formText {
  animation: fadeOut 0.5s ease 100ms;
}

/*****login enter*****/
a.reset {
  animation: fadeIn 0.5s ease 250ms backwards;
}

.login.enter .registerButton {
  animation: fadeIn 0.5s ease 350ms backwards;
}

/*****login leave*****/
.login.leave .formTitle {
  animation: fadeOut 0.5s ease 400ms backwards;
}

.login.leave .formText {
  animation: fadeOut 0.5s ease 350ms backwards;
}

.login.leave label:first-child {
  animation: fadeOut 0.5s ease 300ms backwards;
}

.login.leave label:nth-child(2) {
  animation: fadeOut 0.5s ease 200ms backwards;
}

.leave a.reset {
  animation: fadeOut 0.5s ease 100ms;
}

/*****register enter*****/
input.getCaptcha {
  animation: fadeIn 0.5s ease 350ms backwards;
}

.register.enter .loginButton {
  animation: fadeIn 0.2s ease 500ms backwards;
}

/*****register leave*****/
.register.leave .formTitle {
  animation: fadeOut 0.5s ease 400ms;
}

.register.leave .formText {
  animation: fadeOut 0.5s ease 350ms;
}

.register.leave label:first-child {
  animation: fadeOut 0.5s ease 300ms;
}

.register.leave label:nth-child(2) {
  animation: fadeOut 0.5s ease 250ms;
}

.register.leave label:nth-child(3) {
  animation: fadeOut 0.5s ease 200ms;
}

.register.leave label:nth-child(4) {
  animation: fadeOut 0.5s ease 150ms;
}

.register.leave label:nth-child(5) {
  animation: fadeOut 0.5s ease 100ms;
}

.leave input.getCaptcha {
  animation: fadeOut 0.5s ease 350ms;
}

/*****reset enter*****/
.enter .resetButton {
  animation: fadeIn 0.5s ease 400ms backwards;
}

/*****reset leave*****/


/*****general enter*****/
.enter .formTitle {
  animation: fadeIn 0.5s ease 50ms backwards;
}

.enter .formText {
  animation: fadeIn 0.5s ease 100ms backwards;
}

.enter label:first-child {
  animation: fadeIn 0.5s ease 150ms backwards;
}

.enter label:nth-child(2) {
  animation: fadeIn 0.5s ease 200ms backwards;
}

.enter label:nth-child(3) {
  animation: fadeIn 0.5s ease 250ms backwards;
}

.enter label:nth-child(4) {
  animation: fadeIn 0.5s ease 300ms backwards;
}

.enter label:nth-child(5) {
  animation: fadeIn 0.5s ease 350ms backwards;
}

/*****general leave*****/
.leave .loginButton {
  animation: fadeOut 0.5s ease;
}

.leave .registerButton {
  animation: fadeOut 0.5s ease;
}


@keyframes wrapperEnter {
  from  {
    transform: translateY(-50px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from  {
    transform: translateY(100px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from  {
    transform: translateY(0);
    opacity: 1;
  }
  to  {
    transform: translateY(50px);
    opacity: 0;
  }
}
