
.wrapper {
  position: relative;
  height: 100%;
  background: -webkit-linear-gradient(30deg, #74ead5, #abb6e5);
}

.user {
  :global {
    .ant-layout-header {
      background: #ffffff ;
    }
  }
}

.container {
  min-width: 1300px;
  padding: 40px 5% 0 5%;
}

.userCardWrapper {
  float: left;
  width: 360px;
  font-size: 16px;
}

.projectsWrapper {
  float: left;
  width: 700px;
  margin-left: 40px;
}