@import "../base";

//人员选择面板
$searchPanelPadding: 24px;
$panelDecoratorColor: #dcdcdc;

suggestion-input{
  &>input{
    width: 100%;
    height: 30px;
    border: 1px;
    border-radius: 3px;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
    @extend %form-control;
    @include paddingX(10px);
  }
	.no-result {
		text-align: center;
		font-size: 12px;
		color: #afadaf;
		margin-top: 50px;
		&>img {
			width: 72px;
			height: 72px;
		}
	}
  .groupname{
    //background-color: #dadada;
    @include paddingX(10px);
		height: 24px;
		line-height: 24px;
		border-bottom: 1px solid #dadada;
  }
  .username {
		height: 36px;
		line-height: 36px;
		a {
    	@include paddingX(10px);
			display: block;
			width: 100%;
			box-sizing: border-box;
			color: #333;
		}

		&:hover{
			background-color: #ddd;
		}
	}
  &>ul {
    position: absolute;
		margin-top: -1px;
    background-color: white;
    width: 100%;

		height: 200px;
		overflow: auto;

    border-radius: 3px;
    box-shadow: 0 0 2px #ddd;
  }
}

.memberList{
  &>li{
    opacity: 0;
  }
  &>li.active{
    opacity: 1;
  }
}
$dotSize: 14px;
$dotSizeBig: 28px;
$dotTranTime: 0.2s;

.dotContainer{
  width: 28px;
  position: absolute;
  z-index: 1;
  @extend %absCenY;
  right: 24px;
  .dotSec{
    padding-top: 7px;
    padding-bottom: 7px;
    &:hover .dot, &.selected .dot{
      height: $dotSizeBig;
      width: $dotSizeBig;
      border-radius: $dotSizeBig / 2;

      background-color: transparent;
      .yellow-back {
        opacity: 1;
      }
      .year{
        opacity: 1;
      }
    }
  }

  .dot{
    position: relative;
    display: block;
    height: $dotSize;
    width: $dotSize;
    border-radius: $dotSize / 2;
    background-color: #3f51b5;
    @extend %staticCen;

    -webkit-transition: all $dotTranTime;
    -moz-transition: all $dotTranTime;
    -ms-transition: all $dotTranTime;
    -o-transition: all $dotTranTime;
    transition: all $dotTranTime;

    .year{
      color: white;
      position: absolute;
      @extend %absCen;
      opacity: 0;
    }
    .yellow-back{
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all $dotTranTime;
      -moz-transition: all $dotTranTime;
      -ms-transition: all $dotTranTime;
      -o-transition: all $dotTranTime;
      transition: all $dotTranTime;
    }
  }
}

[mask] {
  height: 100%;
  width: 100%;

  background-color: rgba(0,0,0,0.5);

}

.peopleContainer{
  position: relative;
  margin-left: 30px;

  padding-top: 24px;
  &>.person{
    width: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    margin-left: 24px;
    &>.personalLogo{
      width: 60px;
      height: 60px;
      background-color: #dddddd;

    }
    &>.addPersonalLogo{
      width: 60px;
      height: 60px;
      border: 3px solid #feca29;
      border-radius: 50%;
      box-sizing: border-box;

			cursor: pointer;

      color: #feca29;

      &>i{
        line-height: 52px;
      }
    }
    &>p{
      margin-top: 18px;
    }
  }
}


[project-member-list]{
  box-sizing: border-box;

  .peopleContainer{
    position: relative;
    margin-left: 30px;
    height: 108px;

    padding-top: 24px;
    &>.person{
      width: 60px;
      text-align: center;
      display: inline-block;
      vertical-align: top;

      margin-left: 24px;
      &>p{
        margin-top: 18px;
      }
    }
    img{
      width: 60px;
      height: 60px;
      border: none;
      @extend %radius-circle;
    }
  }
}

[alert], [confirm] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  .table-center-table{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .alert-panel{
    width: 200px;
    border: 1px solid;

    &>.alert-head{

    }
    &>.alert-body{

    }
  }
}

[login-panel]{
  h1{
    line-height: 56px;
  }
}
[login-panel], [register-panel], [forget-pwd-panel]{
  position: relative;
  width: 400px;
  z-index: 1;

	.ne-btn-group {
		&>* {
			display: inline-block !important;
			vertical-align: bottom;
		}
		a {
			margin-left: 5px;
			color: #959595;
		}
	}
	.notice {
		position: relative;
		top: 18px;

		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;;
		white-space: nowrap;
		width: 250px;
		display: inline-block;
		overflow: hidden;

		&.info{
			color: #ffab00;
		}
		&.error{
  	  color: red;
		}
		&.normal{
			display: none;
		}
	}


  &.ng-hide-add{
    animation: bounceOut 1s;
  }
  &.ng-hide-remove{
    animation: bounceIn 1s;
  }

  .title{
    color: white;
    font-family: "aressence", sans-serif;
    font-size: 30px;
  }

  .greet{
    font-size: 14px;
    color: white;
  }

  &>.header{
    height: 94px;
    background-color: #3f51b5;
    @include paddingY(19px);
    @include paddingX(30px);
    box-sizing: border-box;

    box-shadow: 0 2px 2px #918F8F;

    .close{
      color: white;
      position: absolute;
      right: 5px;
      top: 5px;

      cursor: pointer;
    }
  }
  .body{
    background-color: #e5e5e5;
		overflow: hidden;
		box-sizing: border-box;
    @include paddingX(59px);
    @include paddingY(30px);
		@include transition(height .5s linear);

    color: #959595;
    font-size: 14px;

		&.nextpage {
			height: 160px !important;
			.slider {
				left: -345px;
			}
		}

		.slider {
			white-space: nowrap;
			position: relative;
			left: 0;
			@include transition(left .5s linear);
		}

		.page {
			display: inline-block;
			vertical-align: top;
			width: 282px;

			&:last-child {
				margin-left: 59px;
			}
		}
  }
  .form-control.form-control-half{
    width: 132px;
    display: inline-block;
    vertical-align: top;

    &:first-child{
      margin-right: 18px;
    }
  }
  .form-control{
    width: 282px;
    height: 40px;
    margin-bottom: 30px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 11px;
    @include paddingX(13px);
    border-radius: 2px;

    i{
      float: left;
      margin-right: 3px;
    }
    .bfc-container{
      overflow: hidden;
    }

    input{
      border: none;
      outline: none;
      height: 18px;
      width: 100%;

      //防止自动补全呈现黄色
      &:-webkit-autofill {
        box-shadow: 0 0 0 1000px white inset;
      }
    }
  }

  .btn{
    width: 136px;
    height: 40px;
    color: white;
    background-color: #3f51b5;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #958B8B;
    cursor: pointer;
    @extend %staticCen;
    display: block;
    &:hover{
      background-color: #6371BB;
    }
    &:active{
      box-shadow: inset 1px 1px 2px #958B8B;
    }
  }

  .i-container{
    text-align: center;
    font-size: 13px;
    margin-top: 19px;

    &>a{
      color: #909090;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

[member-list] {
  overflow-x: hidden;
  .move-obj{
    display: inline-block;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
  }
  .person{
    width: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    margin-left: 24px;
    &>p{
      margin-top: 18px;
    }
  }
  .personalLogo{
    display: inline-block;
    width: 60px;
    height: 60px;
    img{
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
}

[basic-set-panel] {
  height: 310px;

  &>*{
    display: block;

    font-size: 12px;
  }
  input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #9f9f9f;
    width: 100%;
  }
  input:disabled{
    background-color: #fff;
    color: #333;
  }
  &>label{
    margin-bottom: 8px;
  }
  &>.input{
    margin-bottom: 15px;
  }
  .groupContainer{
    height: 30px;
  }

  #status{
    height: 18px;
    background-color: transparent;
    border: none;
    color: #333;
  }
  #status:disabled{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

[relation-set-panel]{
  //bfc
  overflow: hidden;

  height: 310px;
  &>div{
    box-sizing: border-box;

    .peopleContainer{
      position: relative;
      margin-left: 30px;
      height: 108px;
      padding-top: 24px;
    }

  }

  &>div:nth-child(1) {
    margin-bottom: 16px;
  }
  &>div:nth-child(2) {
  }

  [project-member-list]{
    [member-list] {
      max-width: 200px;
      display: inline-block;
    }
  }
}

[modify-hero].hero{
  width: 768px;
  height: 342px;
  background-color: white;
  //bfc
  overflow: hidden;

  text-align: center;
  box-shadow:  2px 2px 3px #dddddd;
  padding-top: 0;
  box-sizing: border-box;
  &>.personalLogo{
    margin-top: 30px;
    height: 150px;
    width: 150px;
    background-color: #dddddd;
    border-radius: 50%;

    img{
      @extend %full;
    }

    @extend %staticCen;
  }
  &>h3{
    margin-top: 24px;
    margin-bottom: 16px;

    font-size: 18px;
  }
  &>.mail{
    font-size: 14px;
  }
  &>button{
    margin: 24px;
    font-size: 12px;

    width: 108px;
    height: 40px;
    border: 0;
    border-radius: 3px;
  }
}

$opacityTransTime: 0.5s;
[avatar], [avatar2]{
  overflow: hidden;
  position: relative;
  img{
      @extend %full;
    }
  .mask{
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: transparent;

    @extend %radius-circle;
    overflow: hidden;

    -webkit-transition: background-color $opacityTransTime;
    -moz-transition: background-color $opacityTransTime;
    -ms-transition: background-color $opacityTransTime;
    -o-transition: background-color $opacityTransTime;
    transition: background-color $opacityTransTime;

  }
  .mask:hover{
    background-color: rgba(0,0,0,0.5);
    &>.shadowBtn{
      @extend %absCenY;
      opacity: 1;
    }
  }
  .mask>.shadowBtn{
    top: 20px;
    opacity: 0;
    position: relative;

    -webkit-transition: all $opacityTransTime;
    -moz-transition: all $opacityTransTime;
    -ms-transition: all $opacityTransTime;
    -o-transition: all $opacityTransTime;
    transition: all $opacityTransTime;

    button{
      box-shadow: none;
    }
  }
}

[img-cropper] {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  @extend %full;
  [mask]{
    @extend %full;
  }
  .table-center-table{
    position: absolute;
    @extend %full;
    top: 0;
    left: 0;
  }
}
[img-cropper] .table-center-obj{
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #6b6767;
  top: 0;
  left: 0;
  padding: 20px;
  @extend .block;
  display: inline-block;

  .operation{
    *{
      vertical-align: bottom;
    }
    text-align: center;
    margin-top: 20px;
    &>*{
      margin-right: 20px;
    }
  }
}
.img-cropper{
  width: 550px;
  height: 300px;

  &>.part{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    background-color: #eee;
  }
  &>.left{
    width: 300px;
  }
  &>.right{
    margin-left: 20px;
    width: 230px;
  }
  *{
    box-sizing: border-box;
  }
}
.cropper{
  position: relative;
  width: 250px;
  height: 200px;
  background-image: url("../images/op_back.png");
}
.cropper-mask{
  &.uninit{
    cursor: not-allowed;
  }
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;

  border: 1px #f5f solid;
  cursor: move;

  @extend %radius-circle;

  .resize-btn{
    @extend %radius-circle;

    width: 10px;
    height: 10px;
    border: 1px solid #333;
    background-color: white;
    position: relative;
    top: 85.5%;
    left: 85.5%;
    cursor: nwse-resize;
    @include transform(translate(-50%, -50%));
  }
}
.canvasCrop{
  @extend %full;
}
.canvasPreview{
  height: 150px;
  width: 150px;
  margin-top: 75px;
  @extend %radius-circle;
  background-image: url("../images/op_back.png");
}

.trans-cen-con{
  position: fixed;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

[project-logo]{
  position: relative;
  height: 48px;
  width: 48px;
  @extend %radius-circle;

  overflow: hidden;

	.project-logo-input {
		position: absolute;
		height: 100%;
		width: 100%;

		&:hover>.project-logo-plus {
			opacity: 1;
		}
	}
  .project-logo-input>input{
    opacity: 0;
		position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
		cursor: pointer;

    &:disabled{
      cursor: not-allowed;
    }
	}
	.project-logo-input>.project-logo-plus{
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		font-size: 35px;
		text-align: center;
		line-height: 48px;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		border-radius: 50%;
		opacity: 0;

		@include transition(opacity 0.5s);
	}
	&>img{
    height: 100%;
    width: 100%;
		@extend %radius-circle;
  }
}

[project2]{	
  [member-list] {
    max-width: 490px;
    display: inline-block;
    //overflow: visible;
    .admin p{
      color: $btnYellow;
    }
  }
  &>.head{
    &>div{
      display: inline-block;
    }
    &>.pro-name{
      @include marginX(15px);
      input{
        width: 505px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #aeaeae;
      }
    }
    .year-selector{
      select{
        background-color: white;
        //appearance:none;
        //-moz-appearance:none; /* Firefox */
        //-webkit-appearance:none;
        border: none;
      }
    }
    &>*{
      vertical-align: middle;
    }
  }
  .project-intro{
    height: 125px;
    width: 100%;
    resize: none;

    border: 1px solid #aeaeae;
    padding: 15px;
    box-sizing: border-box;
  }
  label{
    display: block;
    margin-bottom: 10px;
  }
  &>div{
    margin-bottom: 16px;
  }
}

[save-loader]{
  position: absolute;
  right: 15px;
  top: 10px;

  font-size: 20px !important;
}


[change-admin-panel]{
  background-color: #fff;
  position: fixed;
  z-index: 10;
  @extend %absCen;
}
[change-admin-panel] .table-center-obj{
  @extend .block;

  .person{
    width: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
    padding: 10px;
    img{
      width: 60px;
      height: 60px;
      @extend %radius-circle;
    }
    &>p{
      margin-top: 18px;
    }
    &:hover{
      box-shadow: 0 0 1px 2px $btnYellow;
    }
  }
}

[project2] [member-list] .person{
  opacity: 1;
  @include transition(all 0.5s);

  &.ng-leave-active{
    opacity: 0;
    @include transform(translate(0, -100%));
  }
  &.ng-enter-active{
    opacity: 1;
  }
}

$memberHeight: 56px;
[member-in-search-panel]{
  display: block !important;
  height: $memberHeight;
  cursor: pointer;
  &.notLast{
    border-bottom: 1px solid $panelDecoratorColor;
  }
  .member-logo{
    height: 40px;
    width: 40px;

    @extend %radius-circle;
  }
  .member-name{
    display: inline-block;
    margin-left: 15px;

    font-size: 16px;

    line-height: $memberHeight;
  }
  .iconfont{
    font-size: 20px;
    float: right;
    line-height: 56px;
  }
  .iconfont:after{
    content: "\e601";
    color: $panelDecoratorColor;
  }
  &.selected .iconfont:after{
    content: "\e602";
    color: $btnYellow;
  }
}

[group-input] {
  .addGroup{
    //float: right;
    //color: $btnYellow;
    //font-size: 60px;
    line-height: 30px;
		margin-left: 10px;
		img{
			width: 16px;
			height: 16px;
			vertical-align: top;
			margin-top: 7px;
		}
  }

  [group-select-panel]{
    position: absolute;
    width: 200px;
    height: 40px;
    box-shadow:  2px 2px 3px #dddddd;
    background-color: white;

    &>div{
      @extend %absCen;
      position: absolute;
    }
  }

  .group{
    //width: 80px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: $btnYellow;
    color: white;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
}

[group-list]{
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  max-width: 270px;

  .close{
    line-height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    cursor: pointer;

    opacity: 0;
  }
  .mask{
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    z-index: 1;

    &.mask-left{
      background: -webkit-linear-gradient(left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
      background: -moz-linear-gradient(left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
      background: linear-gradient(left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    }
    &.mask-right{
      right: 0;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white);
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white);
      background: linear-gradient(left, rgba(255, 255, 255, 0), white);
    }
  }
  .move-obj{
    display: inline-block;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;

    .group{
      position: relative;

      &:hover{
        .close{
          opacity: 1;
        }
      }
    }
  }
}

.margin-btn {
  display: block;
  text-align: center;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 0 -24px -24px -24px !important;
	cursor: pointer;
}
.btn-yellow{
  background-color: $btnYellow;
}
.btn-half{
  color: #fff;
  border: 0;
  height: 50px;
  width: 50%;
  float: left;

  &:disabled{
    cursor: not-allowed;
  }

  &:last-child{
    background-color: #cfd3d4;
  }
}


$modalMaskTime: .15s;
$modalTime: .3s;
.modal-mask{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  -webkit-transition: opacity $modalMaskTime linear;
  transition: opacity $modalMaskTime linear;

  .modal-modal{
    background-color: #fff;
    width: 480px;
    margin: 30px auto;
    border-radius: 3px;
    padding: 16px;
    box-shadow: 2px 2px 3px #6b6767;

    -webkit-transition: -webkit-transform $modalTime ease-out;
    transition: transform $modalTime ease-out;
  }

  .modal-title{
    font-size: 14px;
    font-weight: bold;
    color: #4051b5;
    text-align: center;
    margin-top: 18px;
    letter-spacing: 1px;
  }

  .modal-info{
    text-align: center;
    letter-spacing: 1px;
    color: #9e9e9e;
    margin-top: 10px;
    white-space: normal;
  }

  .btn-group{
    margin-top: 35px;

    &[data-number="1"] {
      button{
        margin-left: 186px;
      }
    }
    &[data-number="2"] {
      button{
        margin-right: 88px;

        &:first-child{
          margin-left: 88px;
        }
      }
    }
    &[data-number="3"] {
      button{
        margin-right: 39px;

        &:first-child{
          margin-left: 39px;
        }
      }
    }
  }

  .shadowBtn.cancel{
    background-color: #a0a0a0;
  }
  .shadowBtn.primary{
    background-color: #3f51b5;
  }

  .modal-icon{
    width: 75px;
    height: 75px;
    border: 4px solid #9ea8db;
    border-radius: 50%;
    color: #3b4eb4;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    text-align: center;
    line-height: 66px;
    font-size: 34px;
    font-weight: bold;
  }

  &.show{
    &.modal-mask{
      opacity: 1;
    }
    .modal-modal{
      @include transform(translate(0, 25%));
    }
  }
}
