[group-switcher]{
  &.switcher-mask{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .switcher-switcher{
    width: 480px;
    //height: 368px;
    margin: 30px auto;
  }

  .switcher-list{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    li{
      width: 69px;
      margin-left: 12px;
      margin-right: 12px;
      position: relative;
      cursor: pointer;
    }
    input{
      position: absolute;
      z-index: 1;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;

      &+div{
        position: relative;

        span{
          display: block;
          position: absolute;
          width: 43px;
          top: 45px;
          left: 21px;
          font-size: 13px;
          text-align: center;
          color: #ffa200;
          font-family: "aressence", sans-serif;
        }
      }
    }

    .group-name{
      margin-top: 10px;
      text-align: center;
      font-size: 12px;
      color: #a0a0a0;
    }

    &.selected{
      input:not(:checked)+div{
        -webkit-filter: url('#grey-filter');
        filter: url('#grey-filter');
      }
    }
  }

  .switcher-icon{
    position: relative;
    margin: 20px auto 0 auto;
    width: 90px;
    height: 82px;

    span{
      display: block;
      position: absolute;
      text-align: center;
      width: 50px;
      top: 58px;
      left: 29px;
      font-size: 16px;
      color: #ffa200;
      font-family: "aressence", sans-serif;
    }
  }
}

$mergeTime: 0.5s;
[group-merge-flash]{
  &.show{
    right: 0;
    opacity: 1;
  }

  position: fixed;
  top: 60px;
  opacity: 0;
  right: -180px;
  margin-top: 24px;
  margin-right: 24px;
  border-radius: 3px;

  box-sizing: border-box;
  box-shadow: 2px 2px 3px #b5b3b3;
  background-color: #fff;
  width: 360px;
  height: 80px;
  padding: 16px;

  -webkit-transition: all $mergeTime;
  -moz-transition: all $mergeTime;
  -ms-transition: all $mergeTime;
  -o-transition: all $mergeTime;
  transition: all $mergeTime;

  .merge-left, .merge-right{
    float: left;
  }
  .merge-left{
    position: relative;
    width: 48px;
    height: 43px;
    margin-top: 2px;
    margin-right: 16px;
    .group-name{
      display: block;
      position: absolute;
      width: 25px;
      top: 28px;
      left: 14px;
      text-align: center;
      font-size: 12px;
      color: #ffa200;
      font-family: "aressence", sans-serif;
    }
  }
  .merge-title{
    color: #3f51b5;
    font-size: 14px;
  }
  .merge-content{
    margin-top: 10px;
    color: #a4a4a4;
  }
}